
$headercgcolor: #409EFFFF;

%center{
  display: flex;
  align-items: center;
  justify-content: center;
}

%leftcenter{
  display: flex;
  align-items: center;
}

%rightcenter{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}